* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: bisque;
}

.nav-item a {
  color: black;
}

.active-home {
  background-color: chocolate;
  border-radius: 10px;
  padding: 6px;
}

.title h2 {
  text-align: center;
  font-size: 50px;
  font-family: leckerli One;
  background-color: #e3d105;
  color: white;
  margin-left: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog {
  padding-top: 180px;
}

.title {
  text-align: center;
  box-shadow: 8px 8px 40px;
}

.title1 img{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: none;
    border-radius: 80px;
    box-shadow: -10px -10px 25px;
}

.title2 img{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: none;
  border-radius: 80px;
  box-shadow: -10px -10px 25px;
}

.title1 span {
  color: #191918;
  font-size: 17px;
  line-height: 20px;
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title2 span {
  color: #191918;
  font-size: 17px;
  line-height: 20px;
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog .blog_box {
  border: #a1a1a1 solid 1px;
  background: #fff;
}

.blog .blog_box .blog_img_box {
  background: #fff;
  box-shadow: #ddd 0px 3px 3px 0px;
}
.blog .blog_box .blog_img_box figure {
  margin: 0;
  position: relative;
}
.blog_img_box figure img {
  width: 100%;
}
.blog .blog_box .blog_img_box figure span {
  background: #000;
  top: 0;
  text-align: center;
  padding: 7px 10px;
  color: #fff;
  right: 0;
  left: 0;
  position: absolute;
  width: 100px;
}
.blog .blog_box h3 {
  color: #373535;
  font-size: 22px;
  line-height: 25px;
  font-weight: 500;
  padding: 0px 20px;
  padding-top: 30px;
  padding-bottom: 15px;
}
.blog .blog_box p {
  color: #525050;
  font-size: 17px;
  line-height: 28px;
  padding: 0px 20px;
  padding-bottom: 28px;
}

